<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcom!</title>
  </head>
  <body>
    <!-- <%=  %> 사이에 객체의 키값이 들어간다.-->
    <h1>Welcom !! <%= name %> <%= email %> <%= password %></h1>
    <p>You are <%= uid %> 번째 고객입니다!</p>
  </body>
</html>
